:root {
  /* color */
  --color-yellow: #fbc400;
  --color-blue: #69c8f2;
  --color-red: #ff7272;
  --color-gray: #aaa;
  --color-green: #b0d840;
  --color-white: #fff;

  /* size */
  --size-width: 80px;
  --size-font: 30px;
  --size-mr: 10px;
}

p {
  display: flex;
  align-items: center;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-width);
  height: var(--size-width);
  border-radius: 50%;
  margin-right: var(--size-mr);
  font-size: var(--size-font);
  font-weight: bold;
  color: var(--color-white);
}

.num1 {
  background-color: var(--color-yellow);
}
.num2 {
  background-color: var(--color-blue);
}
.num3 {
  background-color: var(--color-red);
}
.num4 {
  background-color: var(--color-gray);
}
.num5 {
  background-color: var(--color-green);
}
.num6 {
  background-color: var(--color-green);
}
